<html>
    <head>
        <title> Accueil | Proméo Formation </title>
    </head>



    <body>
        
      {% extends "layout.jinja" %}

      {% block content %}

        <div class="jumbotron">
            <h1 class="display-4">Bienvenue !</h1>
            <p class="lead">Prenez rapidement Rendez-vous avec un formateur en cliquant sur le bouton du bas !</p>
            <hr class="my-4">
              <a class="btn btn-primary btn-lg" href="rdv" role="button">prendre rendez vous dès maintenant.</a>
            </p>
          </div>
        </div>
        


        
        {% endblock %}
        
    </body>
</html>